<% if alert %>
  <div id="alert" class="alert alert-danger"><%= alert %></div>
<% end %>

<% if @lists.empty? %>

  <div class="row lists-blank-slate">
    <div class="col-md-12 text-center">
      <p class="lead">Hey! You have no To-Do Lists. Feel free to click on the "Add a to-do list" button and start creating your lists.</p>
    </div>
  </div>

<% end %>

<div ng-view></div>