  <!DOCTYPE html>
  <html ng-app="app">
    <head>
      <title>OctoDo's | Project Management</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div ng-view>
      <%= yield %>
    </div>
  </body>
</html>